<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Inventario</title>

</head>
<body>
    <form action="/enviar_activo" method="GET" >
        <h1> Inventario de activos </h1>
        <!-- Dropdown para elegir el Tipo de activo -->
        <div class="form-group col-md-2">
            <label for="tipo">Elige tipo de activo</label>
            <select id="tipo" class="form-control" name="tipo">
                <option selected>Tipo...</option>
                {%for x in tipo %}
                <option>{{x}}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Cuadro para añadir la Marca del activo -->
        <div class="form-group col-md-3">
              <label for="marca">Introduce marca: </label>
              <input type="text" class="form-control" name="marca" id="marca" placeholder="Marca">
        </div>
        <!-- Cuadro para añadir el Modelo del activo -->
        <div class="form-group col-md-3">
            <label for="modelo">Introduce modelo: </label>
            <!-- hay que poner el valor de name para que los request lleguen con datos -->
            <input type="text" name="modelo" class="form-control" id="modelo" placeholder="Modelo">
        </div>
        <!-- Cuadro para añadir Cantidad de activos -->
       <div class="form-group col-md-2">
            <label for="cantidad">Cantidad</label>
            <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="0">
       </div>
        <!-- Dropdown para la Ubicacion del activo -->
       <div class="form-group col-md-2">
           <label for="ubicacion">Elige ubicacion del activo</label>
           <select id="ubicacion" class="form-control" name="ubicacion">
               <option selected>Ubicacion...</option>
               {% for ubi in ubi %}
               <option>{{ubi}}</option>
               {% endfor %}
           </select>
       </div>
        <!-- Dropdown para Estado de activo -->
       <div class="form-group col-md-2">
           <label for="estado">Elige estado del activo</label>
           <select id="estado" class="form-control" name="estado">
               <option selected>Estado...</option>
               {% for status in status %}
               <option>{{status}}</option>
               {% endfor %}
           </select>
       </div>
        <!-- Cuadro para introducir la URL -->
       <div class="form-group col-md-6">
                <label for="url">Introduce URL</label>
                <input type="text" class="form-control" id="url" name="url">
       </div>
        <!-- Cuadro de texto para introducir Observaciones -->
       <div class="form-group col-md-6">
          <label for="observaciones">Introduce observaciones</label>
          <input type="text" class="form-control" id="observaciones" maxlength="100" name="observaciones">
       </div>
       <!-- Boton para enviar el form -->
       <div class="form-group col-md-1">
           <button type="submit" class="btn btn-primary">Enviar</button>
       </div>
    </form>

    <form action="/" method="get">
        <div class="form-group col-md-1">
            <button type="submit" class="btn btn-primary">Inventario completo</button>
        </div>
    </form>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>